/*
	Global classes
					*/
html {
	background-image: url("images/dust.jpg");
}
body {
	margin-top: 100px;
	font-family: Avenir, sans-serif;
	height: 550px;
	width: auto;
}
h1 {
	color: white;
	text-shadow: 1px 1px black;
	text-align-last: center;
}
#iphone-case {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	height: 750px;
	width: auto;
}
#screen {
	height: 530px;
	width: 300px;
	margin-left: 30px;
	padding-top: 105px;
}

div.head-bar {
	width: 300px;
	height: 45px;
	background-color: #e6ccff;
	position: relative;
}


div.back-button {
}
/* Navigation Bar */
#nav-arrow-back {
	background-color: purple;
	font-size: 25px;
	color: white;
	width: 100px;
	height: 30px;
	margin: 5px;
	margin-top: 7px;
	border: 1px solid purple;
}
#nav-arrow-container{
  float: left;
  position: fixed;
  left: 5px;
  top: 5px;

}
nav.top-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
  /*background-color: #BD4EBD;
  background-image: linear-gradient(#ff6126, #BD4EBD);
  box-shadow: 0px 4px 4px #0003;
  */
  background-color: #000a14;
  box-shadow: 0px 4px 4px #BD4EBD;
  padding-left: 2em;

}

.top-nav ul {
  float: right;
  list-style: none;
  padding: 0;
  padding-right: 2em;
}
.top-nav li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fffd;
  margin: 5px;
  display: inline-block;
  padding: 2px;
  padding-right: 25px;
  user-select: none;

}
.top-nav li:hover{
  text-decoration: underline;
}
.top-nav li:active {
  color: #fff;
}
/*
	Albums
			*/
div.float-container{
 padding: 5px;
}
div.float-sub-container {
width: 50%;
float: left;

}
div.albums-album-wrapper {
width: 150px;
margin-left: 10px;
margin-top: 20px;
position: relative;
}

div.albums-album-art {
	height: 25%;
	width: 25%;
}

.albums-album-name {
font-size: 16px;
font-weight: bold;
margin-top: -10px;
margin-left: -12px;
width: 100%;
left: 0px;
text-align-last: center;
}

.albums-artist-name {
font-size: 12px;
font-style: oblique;
font-weight: 500;
margin-top: -15px;
margin-left: -18px;
text-align-last: center;
}

/*
	Songs
			*/


#arrow-back {
	background-color: #ddd;
	font-size: 25px;
	color: purple;
	width: 60px;
	height: 30px;
	margin: 5px;
	margin-top: 7px;
	border: 1px solid white;
}

.songs-info-wrapper {
	width: 150px;
	margin-left: 10px;
	margin-top: 20px;
}

.songs-album-art {
	position: absolute;
	margin: auto;
}

.songs-album-name {
	font-size: 18px;
	font-weight: bold;

}

.songs-artist-name {
	font-size: 15px;
	font-style: oblique;
}

.songs-text-info {
	margin: auto;
	position: relative;
	left: 170px;
	padding-top: 5px;

}

.songs-album-year {

}

.songs-list {
margin-top: 40px;
padding-left: 35px;
}
.songs-list li{
	border: 1px solid #ddd;
	margin-top: 4px;
	padding-left: 5px;
	width: 250px;
}

/*
	Player
			*/
.player-album-art {
	width: 240;
	height: 240;
	padding: 30px;
}

.player-song-info {
	width: 240;
	height: 50;
	position: relative;
	margin: auto;
	text-align: center;
}

#player-song-name {
	margin: 0;
	margin-top: -20px;
	margin-bottom: -10px;
	width: 240;
	font-size: 19px;
	font-weight: 500;
}

.timetrack {

}
#time-elapsed {
position: relative;
margin-left: 30px;
font-size: 13px;
}
#time-total {
	position: relative;
	text-align-last:right;
	margin-right: 30px;
	margin-top: -20px;
	font-size: 13px;
}
.player-controls{
	position: relative;
	width: 240;
	margin: 0;
	margin-top: 10px;
	margin-left: 30px;
	text-align-last:center;
}


.volume-level {
	position: relative;
	width: 240;
	margin: 0;
	margin-top: 10px;
	margin-left: 30px;
	justify-content: flex-end;
	padding-left: 20px;
}
#vl0 {

}
#vl1 {

}
#vl2 {

}
#vl3 {

}
#vl4 {

}
#vl5 {
}

.volume-bar {
	float: left;
	height: 6px;
	width: 24px;
	border: solid #000;
	border-width: 1px 1px;
	margin: 5px;

}
#vol-icon {
	float: left;
	height: 6px;
	margin: 0;
	margin-left: 30px;
}
.volume-rocker {
	width: 100;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
	font-weight: bold;

}


#player-time {
	position: relative;
	width: 240;
	margin: 0;
	margin-top: 10px;
	margin-left: 30px;
}
