/* Global Setup */
html{
    scroll-behavior: smooth;
}

body{
  background-image: url("pics/dust.jpg");
  color: white;
}
/* Navigation Bar */

.top-nav {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: #000a14;
  box-shadow: 0px 4px 4px #BD4EBD;
  padding-left: 2em;
}

.top-nav ul {
  float: right;
  list-style: none;
  padding: 0;
  padding-right: 2em;
}
.top-nav li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fffd;
  margin: 5px;
  display: inline-block;
  padding: 2px;
  padding-right: 25px;
  user-select: none;
  position: relative;
}
.top-nav li:hover{
  text-decoration: underline;
}
.top-nav li:active {
  color: #fff;
}

section{
    padding: 100px 0;
}

.intro-content{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*
  Main Section
              */

.intro-content{
  margin: auto 0 auto 0;
}

.main{
    display: flex;
    background: url("pics/dust.jpg");
    color: #fff;
    min-height: 500px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

#t1{
    font-size: 27px;
    text-align:left;
}
#t2{
    font-size: 40px;
    font-weight: 600;
    text-align-last: center;
    color: #BD4EBD;
    padding: 5px;
}
.main-content{
  margin-top: 50px;
  float: left;
}
#connect-button{
  text-align: center;
}
.main-content a{
    display: inline-block;
    background: #BD4EBD;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 15px;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
}
.main-content a:hover{
    color: #BD4EBD;
    background: #fff;
}
.myface-container{
 width: 400px;
 height: 300px;
 border: 7px solid white;
 background: #BD4EBD;
 margin: auto;
 padding: 15px 10px;
 float: left;
 margin-left: 100px;
}
#general-pic {
  width: 100%;
  height: 100%
}
.big-question{
  font-size: 30px;
}
#big-word{
  font-size: 50px;
  color:#BD4EBD;
  font-weight: 500;
}
/*
  Project Highlights Section
                            */
.proj-highlights{
font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.proj-info{
margin-left: 40px;
margin-top: 20px;
margin-bottom: 10px;
}
#the-gif-1{
  vertical-align: middle;
  width: 300px;
  height: auto;
}
#the-gif-2{
  vertical-align: middle;
  width: 300px;
  height: auto;
  margin-top: -160px;
}
.proj-info p{
  padding-left: 10px;
  font-size: 20px;
  display: inline-block;
  width: 800px;
}

/*
  About Section
              */

.about{
  min-height: 400px;
  text-align: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.section-title{
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.section-title-container{
  width: 300px;
  height: 100px;
  margin: 0px auto;
  background-image: linear-gradient(#BD4EBD, #E9BB1D);
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
  margin-top: -70px;
}
.subsection-title{
font-size: 20px;
margin-top: 10px;
margin-top: 30px;
margin-bottom: 30px;
font-weight: bold;
color: white;
vertical-align: middle;
}
.about-content p{
  color: #BD4EBD;
  width: 700px;
  font-weight: bold;
  margin: 0px auto;
  word-spacing: 5px;
  line-height: 25px;
  font-size: 18px;
}
.list-of-orgs{
  float: left;
  display: flex;
  margin: 0px auto;
  text-align: center;
  text-align-last: center;
  margin-left: 10%;
  margin-right: 10%;

}
.img-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
.org-pic-container{
width: 340px;
height: auto;
border-radius: 6px;
padding: 10px;
white-space: nowrap;
text-align: center;
list-style: none;
display:block;
}
.org-pic{
width: 100%;
vertical-align: middle;
opacity: 1;
}
.org-pic-container a:hover{
opacity: 0.7;
}

/*
  Work Section
              */
.work{
  min-height: 700px;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.work-content{
  margin: 0px auto;
}
.work-content p{
  color: #BD4EBD;
  width: 700px;
  font-weight: bold;
  margin: 0px auto;
  word-spacing: 5px;
  line-height: 25px;
  font-size: 18px;
}

#companies-title{
display:inline-flex;
justify-content: center;
width: 500px;
}
.list-of-companies{
  float: left;
  display: flex;
  margin: 0px auto;
  text-align: center;
  text-align-last: center;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-items: center;
}
.comp-pic-container{
width: 340px;
height: auto;
border-radius: 6px;
padding: 10px;
white-space: nowrap;
text-align: center;
list-style: none;
display:block;
}
#manaseer-container{
width: 200px;
height: auto;
border-radius: 6px;
padding: 10px;
white-space: nowrap;
text-align: center;
list-style: none;
display:block;
}
.comp-pic{
width: 100%;
vertical-align: middle;
opacity: 1;
}
.comp-pic-container a:hover{
opacity: 0.7;
}
.resume-link{
  text-align: center;
}
.resume-link a{
    display: inline-block;
    background: #BD4EBD;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 15px;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
}
.resume-link a:hover{
    color: #BD4EBD;
    background: white;
}
/*
  Resume View Section
                    */
#resume-view{
display: flex;
justify-content: center;
}
#resume-pic{
width: 60%;
height: auto;
margin-top: 80px;
align-self: center;
}
#download-link {
  margin-top: -30px;
  text-align: center;
}
#download-link a{
  display: inline-block;
  background: #BD4EBD;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 15px;
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#arrow-back {
	background-color: purple;
	font-size: 25px;
	color: white;
	width: 100px;
	height: 30px;
	margin: 5px;
	margin-top: 7px;
	border: 1px solid purple;
}
#arrow-container{
  float: left;
  position: fixed;
  left: 5px;
  top: 5px;

}
/*
  Connect with Me Page
                      */
.connect{
  min-height: 700px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 20px;
  vertical-align: middle;
}
/* The following CSS code for the Contact Form has been adjusted after being borrowed from:
 https://www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #BD4EBD;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input[type=submit] {
  background-color: #BD4EBD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input[type=submit]:hover {
  background-color: #7B067B;
}

.email-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #BD4EBD;
  width: 800px;
  height: auto;
}
#email-form-title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.social-media-icons{
}
#facebook {
  width: 140px;
  height: auto;
  margin-bottom: -20px;

}
#linkedin {
  width: 100px;
  height: auto;
}

.social-media-icons a:hover {
opacity: 0.7;
}
